{{ $link := .Get 0 }}
{{ $hideCaption := cond (eq (.Get 1) "hidecaption") "1" "0" }}


<iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1543882291&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/user-126288012" title="Stanislav B" target="_blank" style="color: #cccccc; text-decoration: none;">Stanislav B</a> · <a href="https://soundcloud.com/user-126288012/pm-at-aitu-cloud" title="PM в aitu.cloud" target="_blank" style="color: #cccccc; text-decoration: none;">PM в aitu.cloud</a></div>