{{- $analytics := .Scratch.Get "analytics" | default dict -}}

{{- if $analytics.enable -}}
    {{- /* Google Analytics */ -}}
    {{- with $analytics.google.id -}}    
        <script  async src="https://www.googletagmanager.com/gtag/js?id=G-J3WX4MYRHT">
            window.dataLayer=window.dataLayer||[];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());
            gtag('config', '{{ . }}'{{ if $analytics.google.anonymizeIP }}, { 'anonymize_ip': true }{{ end }});
        </script>
        {{- printf "https://www.googletagmanager.com/gtag/js?id=%v" . | dict "Async" true "Source" | partial "plugin/script.html" -}}
    {{- end -}}

    {{- /* Fathom Analytics */ -}}
    {{- with $analytics.fathom.id -}}
        <script type="text/javascript">
            window.fathom=window.fathom||function(){(fathom.q=fathom.q||[]).push(arguments);};
            fathom('set', 'siteId', '{{ . }}');
            fathom('trackPageview');
        </script>
        {{- dict "Source" ($analytics.fathom.server | default "cdn.usefathom.com" | printf "https://%v/tracker.js") "Async" true "Attr" "id=fathom-script" | partial "plugin/script.html" -}}
    {{- end -}}
{{- end -}}
